/*body*/
body {
      background-color: black;
      color: white;
      font-family: Verdana;
      font-weight; normal;
      text-align: center;
}
/*Primary header*/
h1 {
  font-size: 50px;
  color: white;
}
/*link*/
a.download {
  font-size: 16px;
  color: aquamarine;
}
/*Cellphone image*/
video {
  display: inline;
  width: 404px;
  height: 720px;
  object-fit: contain;
}
/*Second and third heading*/
h2 {
  font-size: 42px;
  font-weight: 300px;
}
/*Paragraph*/
p {
  font-size: 21px;
  color: grey;
}
footer {
  text-align: right;
  color: grey;
}
