/*body*/
body {
      background-color: black;
      color: white;
      font-family: Verdana;
      font-weight; normal;
      text-align: center;
}
/*primary header*/
h1 {
  font-size: 50px;
  color: white;
}
/*link*/
a.download {
  font-size: 16px;
  color: aquamarine;
}
/*cellphone image*/
video {
  display: inline;
  width: 404px;
  height: 720px;
  object-fit: contain;
}
/*second and third heading*/
h2 {
  font-size: 42px;
  font-weight: 300px;
}
/*paragraph*/
p {
  font-size: 21px;
  color: grey;
}
/*footer*/
footer {
  text-align: right;
  color: grey;
}
